@model FirsrConnectOracle.Models.BILL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BILL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
